<app-nav-bar></app-nav-bar>
<div fxLayoutAlign="center center" fxFlexFill class="main">
    <mat-card fxFlex="30">
        <form [formGroup]="addForm" fxLayoutAlign="stretch" fxLayout="column" (ngSubmit)="updateCourse()">
            <mat-toolbar color="primary">UPDATE COURSE</mat-toolbar>

            <mat-form-field appearance="standard">
                <mat-label>Course ID</mat-label>
                <input matInput placeholder="Enter course ID" formControlName="courseID">
            </mat-form-field>

            <mat-form-field appearance="standard">
                <mat-label>Course Name</mat-label>
                <input matInput placeholder="Eg: Angular" formControlName="courseName">
            </mat-form-field>
        
            <mat-form-field appearance="standard">
                <mat-label>Course Description</mat-label>
                <textarea matInput formControlName="courseDesc"> </textarea>
            </mat-form-field>
        
            <mat-form-field appearance="standard">
                <mat-label>Course Skills</mat-label>
                <input matInput placeholder="Eg: SPAs" formControlName="courseSkills">
            </mat-form-field>
        
            <mat-form-field appearance="standard">
                <mat-label>Course PreRequisites</mat-label>
                <input matInput placeholder="Eg: TypeScript, JS, etc" formControlName="coursePrerequisites">
            </mat-form-field>
        
            <mat-form-field appearance="standard">
                <mat-label>Course Location</mat-label>
                <input matInput placeholder="Eg: Delhi,Mumbai,Bengaluru,etc" formControlName="courseLocation">
            </mat-form-field>
        
            <button [disabled]="!addForm.valid" mat-raised-button color="primary" type="submit">
                UPDATE
            </button>

        </form>
    </mat-card>
</div>
