<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span fxFlex="70">AUMS</span>
        <button class="tlink" routerLink="/home" mat-flat-button>
            <span class="material-icons">home</span>
        </button>
        <button class="tlink" routerLink="/material" mat-flat-button>Materials</button>
        <button class="tlink" routerLink="/trainers" mat-flat-button>Trainers</button>
        <button class="tlink" routerLink="/courses" mat-flat-button>Courses</button>
        <button class="tlink" (click)="logout()" mat-raised-button color="warn">
            <span class="material-icons">exit_to_app</span>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
